@import url('https://fonts.googleapis.com/css2?family=Oleo+Script+Swash+Caps&family=Work+Sans:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

body{
    background-color: #f8f1df;
    color: #433f30;
    font-family: 'Quicksand', sans-serif;;
}

h1 {
    font-family: 'Work Sans', sans-serif;
}
hr {
    border: none;
    border-top: 3px double #333;
    color: #333;
    overflow: visible;
    text-align: center;
    height: 5px;
    width: 1000px;
}


hr:after {
    background: #f8f1df;
    content: 'ยง';
    padding: 0 4px;
    position: relative;
    top: -13px;
}
a:hover {
    color: #CE242B;
    text-decoration: underline;
} 

.avatar {
    width: 250px;
    height: 200px;
    border-radius: 20px;
    box-shadow: 1px 3px 3px 10px #f1e8d2;
}

.social{
    background: #fa4d4d46;
    border-radius: 12px;
    
}