@import url('https://fonts.googleapis.com/css2?family=Oleo+Script+Swash+Caps&family=Work+Sans:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

body{
    background-color: #f8f1df;
    color: #433f30;
    font-family: 'Quicksand', sans-serif;;
}

h1 {
    font-family: 'Work Sans', sans-serif;
}
hr {
    border: none;
    border-top: 3px double #333;
    color: #333;
    overflow: visible;
    text-align: center;
    height: 5px;
    width: 1000px;
    margin-top: 15px;
    margin-bottom: 10px;
}


.info{
    display: flex;
    margin-bottom: 20px;
}

.info-text{
    margin-left: 15px;
}

hr:after {
    background: #f8f1df;
    content: '§';
    padding: 0 4px;
    position: relative;
    top: -13px;
}

a{
    color: #000;
}

a:hover {
    color: #CE242B;
    text-decoration: underline;
} 

.avatar {
    width: 250px;
    height: 200px;
    border-radius: 20px;
    box-shadow: 1px 3px 3px 10px #f1e8d2;
}

.social{
    background: #fa4d4d46;
    border-radius: 12px;
    width: 20%;
    padding: 5px;
    border: 5px solid #ff7a7a46;
    display: inline-block;
    margin-left: 300px;
    margin-right: 100px;
}

.routine{
    background: #fa4d4d46;
    border-radius: 12px;
    width: 15%;
    padding: 5px;
    border: 5px solid #ff7a7a46;
    display: inline-block;
    margin-right: 100px;
}

.music{
    background: #fa4d4d46;
    border-radius: 12px;
    width: 20%;
    padding: 5px;
    border: 5px solid #ff7a7a46;
    display: inline-block;
}

.container{
    width: 100%;
}

.list {
    padding: 0 15px;
}

.list li{
    margin-bottom: 10px;
}

.contact h2{
    text-align: center;
}

.form-group label{
    display: block;
}

.form-group input{
    width: 100%;
    box-sizing: border-box;
    border: none;
    background: transparent;
    border-bottom: 1px solid #ccc;
    color: #000;
    padding: 15px 0 10px;
    outline: 2px solid#d9d0bb;
    border-radius: 5px;
    font-family: inherit;
}



textarea{
    width: 20%;
    box-sizing: border-box;
    border: none;
    background: transparent;
    border-bottom: 1px solid #ccc;
    color: #000;
    padding: 15px 0 10px;
    outline: 2px solid#d9d0bb;
    border-radius: 5px;
    font-family: inherit;
}

.row{
    display: flex;
    margin-bottom: 20px;
}

.row > .form-group  {
    width: 50%;
    margin-right: 20px;
}

.spoiler {
    position: relative;
    display: inline-block;
    cursor: help;
    display: inline-block;
}
.spoiler::before {
    content: 'тиць'; /* &hellip; */
    position: absolute;
    left: -2px;
    top: -2px;
    right: -2px;
    bottom: -2px;
    border-radius: 1px;
    font-size: .9rem;
    color: #e6578c;
    background: #ffe5e5;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    opacity: 1;
    transition: opacity 0.7s ease, transform 0.3s ease;
}
.spoiler:hover::before {
    opacity: 0;
    transform: translateY(-50%)rotateX(80deg);
    transition: opacity 1.0s ease, transform 0.5s ease; 
}
.p1{
    display: inline-block;
}

